/***********************************
			MAIN.CSS
***********************************/

img{
	max-width: 100%;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color:#000;
}
.treehouse img{
	width:25px;
	height:25px;
}